<html>
    {{#each foo}}
    {{this}}
    {{/each}}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="../index.html">Canvast</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../paintings">Paintings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../artists">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../galleries">Galleries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../mediums">Mediums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../categories">Categories</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="m-5">
        <h3>Add new category:</h3>
        <form id="addcategory" action="/categories" method="post">
            <div class="form-group m-3">
                <div class="form-row">
                        <label class="mr-3" for="exampleFormControlInput3">Category</label> 
                        <input class="form-control w-25" id="exampleFormControlInput1" type="text" name="name"><br>
                </div>
                <div class="form-row">
                        <label class="mr-3" for="exampleFormControlInput3">Decade of conception</label> 
                        <input class="form-control w-25" id="exampleFormControlInput1" type="text" name="decade_of_conception"><br>
                </div>  
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
        <br/> 

        <h3>Current categories:</h3>
        <table class="table">
            <thead> 
                <th scope="col">Id</th>
                <th scope="col">Name</th> 
                <th scope="col">Decade of conception</th>
            </thead> 
            <tbody>
                {{#each categories}} 
                <tr scope="row"> 
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{decade_of_conception}}</td> 
                </tr> 
                {{/each}} 
            </tbody> 
        </table> 
    </div>
</html>